body {
  background-color: var(--tg-theme-secondary-bg-color);
  color: var(--tg-theme-text-color);
  display: flex;
  justify-content: center;
  margin: 0;  
  position: relative; 
  overflow-x: hidden; 
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
div.line {
  width: 50%;
  border-bottom: 3px solid var(--tg-theme-hint-color);
  border-radius: 50px;
  transform: translateX(50%);
  margin-top: 30px;
  opacity: .5;
}
div.block-registration {
  background-color: var(--tg-theme-bg-color);
  width: 100vw;
  padding: 20px 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
div.block-registration div.block-input {
  position: relative;
}
div.block-registration div.block-input input {
  outline: none;
  background-color: transparent;
  color: var(--tg-theme-text-color);
  padding: 10px 0 10px 20px;
  border: solid 1px var(--tg-theme-hint-color);
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  width: 80%;
  margin-top: 15px;
}
div.block-registration div.block-input label {
  position: absolute; 
  top: 45%; 
  left: 10vw; 
  color: var(--tg-theme-hint-color);; 
  padding: 0 5px; 
  background-color: var(--tg-theme-bg-color); 
  transition: all 0.2s ease;
}
div.block-registration div.block-input input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}
.a-button {
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  padding: 15px 10px;
  width: 80%;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: block
}
.a-button-disactive {
  opacity: .5;
}
div.block-registration div.block-button {
  display: flex;
  justify-content: center;
}
div.block-registration div.block-button .a-button {
  margin: 15px 0 10px;
}
.error-message {
  background-color: rgba(255,0,0,.5);
  border-left: 5px solid red;
  position: fixed;
  padding: 15px;
  right: -100%;
  bottom: 15px;
  max-width: 80%;
  text-align: left;
  transition: right 0.3s ease-in-out;
}
.error-message h4 {
  color: var(--tg-theme-text-color);
  margin: 0;
}
.error-message p {
  color: var(--tg-theme-text-color);
  margin: 10px 0 0;
  font-size: 14px;
}

div.block-cabinet {
  background-color: var(--tg-theme-bg-color);
  width: 100vw;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
div.block-cabinet img.head {
  width: 128px;
  height: 128px;
  border-radius: 25px;
  margin-top: 20px;
}

